<!-- <section class="BotMenu"><a href="/nosotros.html">
    <h2>NOSOTROS</h2></a><a href="/cursos.html">
    <h2>CURSOS</h2></a><a href="/inscripciones.html">
    <h2>INSCRIPCIONES</h2></a></section> -->


<section class="Hero Hero--small">
  <a href="/">
    <%= image_tag("muktek-logo.svg", :class => "Hero-logo", :alt => "Home logo") %>
    <!-- <img class="Hero-logo" src="/imgs/muktek-logo.svg" alt="Home logo"/> -->
  </a>
</section>
<section class="grid">
  <div class="col-1-of-3">
    <div class="copy copy--purple info">
      <p>Conoce nuestra metodología.</p><a class="button button--more-info" href="/metodologia">Más Información</a>
    </div>
  </div>
  <div class="col copy__image" style="background-image: url(<%= asset_path('cursos1_opt.jpg') %>);
    height: auto;
    margin-top: -100px;">
  </div>
</section>
<section class="grid" style="overflow: hidden;">
  <div class="col copy__image"
    style="background-image: url(<%= asset_path('cursos2_new_opt.jpg') %>);
    height: auto;
    margin-top: -200px;">
  </div>
  <div class="col-1-of-3">
    <div class="copy copy--orange info">
      <p>Conoce nuestro plan de estudios (Intro. a HTML y CSS)</p><a class="button button--more-info" href="/MUKTEK_PTCourse_HTML&CSS_June2017.pdf" download>Descargar</a>
    </div>
  </div>
</section>
<section class="grid" style="overflow: hidden;">
  <div class="col-1-of-3">
    <div class="copy copy--blue info">
      <p>Conoce nuestros cursos.</p>
      <p><a class="button button--cta" href="/applications.html">Ver cursos</a></p>
    </div>
  </div>
  <div class="col copy__image" style="background-image: url(<%= asset_path('cursos3_opt.jpg') %>);
    height: auto;
    margin-top: -200px;">
  </div>
</section>
<section class="section--quote copy--light-green">
  <h2 class="quote">Talento y tecnología.<br />desde el origen.</h2>
</section>
<section class="section--quote">
  <h2 class="quote">Testimonios</h2>
</section>
<section class="grid">
  <div class="col">
    <div class="thumbnail thumb_rotate" style="background-image:url(<%= asset_path('airy_true_opt.jpg') %>);">
      <div class="thumbnail__copy">
        <h3 class="thumbnail__name">Airy Minor</h3><em class="thumbnail__position">Alumna Muktek</em>
        <p><em>“Lo que más me gustó fue que no necesitas tener conocimientos previos para poder aprender desde cero a programar, entónces va todo muy de la mano, sin embargo sientes que vas avanzando rápido”.</em></p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="thumbnail thumb_rotate" style="background-image:url(<%= asset_path('armando_true_opt.jpg') %>); image-orientation: from-image;">
      <div class="thumbnail__copy">
        <h3 class="thumbnail__name">Armando Velázquez</h3><em class="thumbnail__position">Alumno Muktek</em>
        <p>“Yo me metí a este curso porque soy un emprendedor que va iniciando, entónces planeo usarlo para estar más en contacto con los profesionales del área, no para dedicarme a ello, sino para poder comunicarme de manera correcta y tener buenos resultados”.</p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="thumbnail thumb_rotate" style="background-image:url(<%= asset_path('anibal_true_opt.jpg') %>); image-orientation: from-image;">
      <div class="thumbnail__copy">
        <h3 class="thumbnail__name">Anibal González</h3><em class="thumbnail__position">Alumno Muktek</em>
        <p>“Lo que más me gustó fueron las asesorías que es dónde más se avanzaba, se aprendía y se ejecutaba lo aprendido al inicio de clase, eso fue lo que más me gustó de la experiencia MUKTEK”.</p>
      </div>
    </div>
  </div>
</section>
