
<div class="">
  <% if notice %>
    <div class="alerta">
      <p> <%= notice %>  </p>
    </div>
  <% end %>
</div>



<a href="/">
  <%= image_tag("new-logo.png", :class => "logo-lp", :alt => "Home logo") %>
</a>

<main class='intro'>
  <code>
    <p><span class='pink'>switch</span> (career) {</p>
    <p class='i1'><span class='pink'>case</span> FULLSTACK_JR:</p>
    <p class='i2'><span class='gray'>// muktek.com</span></p>
    <p class='i2'><span class='blue'>console.log</span>(<span class='green'>"Start learning"</span>);</p>
    <p class='i2'><span class='pink'>break</span>;</p>
    <p>}</p>
  </code>
</main>
<section class='grid'>
  <div class='col'>
    <%= image_tag("date.svg", :class => "big-date", :alt => "JS Full-time MUKTEK Bootcamp Start Date") %>

  </div>
  <div class='col'>
    <h1 class='title'>MUKTEK<br />Academy<br />Mexico<br />City</h1>
    <p class='small-p'>Aprende de la mano de las startups y VC’s más importantes de México en un ambiente de innovación e inversión. Con instructores y metodología del calibre de <a href='https://www.theironyard.com/' target='_blank'>The Iron Yard</a> y <a href='https://www.galvanize.com' target='_blank'>Galvanize</a>. Y gana awareness de las habilidades que necesitas para ser exitoso en la vida con nuestros módulos de Engineering Soft Skills.</p>
    <p class='small-p fs-md'>JavaScript es el lenguaje programación web más popular apoyado de empresas como Facebook, Netflix y AirBnB. ¿Sabes escribirlo? Lo puedes aprender hoy.</p>
    <p class='small-p fs-md join-now'>Join now</p>
  </div>
</section>
<section class='relative'>
  <code class='green'>html css javascript es6 react.js express.js mongodb mysql sql transact git github testing unit testing end-to-end e2e mocha chai.js jest linters best practices functions variables responsive design mobile first integration tests branches pull request issues labels callbacks closures esnext icons sass media queries apis fetch components jasmine browser console debugging refactoring modules objects describe workflow apps npm node.js html css javascript es6 react.js express.js mongodb mysql sql transact git github testing unit testing end-to-end e2e mocha chai.js jest linters best practices functions variables responsive design mobile first integration tests branches pull request issues labels callbacks closures esnext icons sass media queries apis fetch components jasmine browser console debugging refactoring modules objects describe workflow apps npm node.js html css javascript es6 react.js express.js mongodb mysql sql transact git github testing unit testing end-to-end e2e mocha chai.js jest linters best practices functions variables responsive design mobile first integration tests branches pull request issues labels callbacks closures esnext icons sass media queries apis fetch components jasmine browser console debugging refactoring modules objects describe workflow apps npm node.js html css javascript es6 react.js express.js mongodb mysql sql transact git github testing unit testing end-to-end e2e mocha chai.js jest linters best practices functions variables responsive design mobile first integration tests branches pull request issues labels callbacks closures esnext icons sass media queries apis fetch components jasmine browser console debugging refactoring modules objects describe workflow apps npm node.js html css javascript es6 react.js express.js mongodb mysql sql transact git github testing unit testing end-to-end e2e mocha chai.js jest linters best practices functions variables responsive design mobile first integration tests branches pull request issues labels callbacks closures esnext icons sass media queries apis <span class='extra-code'>fetch components jasmine browser console debugging refactoring modules objects describe workflow apps npm node.js html css javascript es6 react.js express.js mongodb mysql sql transact git github testing unit testing end-to-end e2e mocha chai.js jest linters best practices functions variables responsive design mobile first integration tests branches pull request issues labels callbacks closures esnext icons sass media queries apis fetch components jasmine browser console debugging refactoring modules objects describe workflow apps npm node.js html css javascript es6 react.js express.js mongodb mysql sql transact git github html css javascript es6 react.js express.js mongodb mysql sql transact git github testing unit testing end-to-end e2e mocha chai.js jest linters best practices functions variables responsive design mobile first integration tests branches pull request issues labels callbacks closures esnext icons sass media queries apis fetch components jasmine browser console debugging refactoring modules objects describe workflow apps npm node.js html css javascript es6 react.js express.js mongodb mysql sql transact git github testing unit testing end-to-end e2e mocha chai.js jest linters best practices functions variables responsive design mobile first integration tests branches pull request issues labels callbacks closures esnext icons sass media queries apis fetch components jasmine browser console debugging refactoring modules objects describe workflow apps npm node.js html css javascript es6 react.js express.js mongodb mysql sql transact git github testing unit testing end-to-end e2e mocha chai.js jest linters best practices functions variables responsive design mobile first integration tests branches pull request issues labels callbacks closures esnext icons sass media queries apis fetch components jasmine browser console debugging refactoring modules objects describe workflow apps npm node.js html css javascript es6 react.js express.js mongodb mysql sql transact git github testing unit testing end-to-end e2e mocha chai.js jest linters best practices functions variables responsive design mobile first integration tests branches pull request issues labels callbacks closures esnext icons sass media queries apis fetch components jasmine browser console debugging refactoring modules objects describe workflow apps npm node.js html css javascript es6 react.js express.js mongodb mysql sql transact git github testing unit testing end-to-end e2e mocha chai.js jest linters best practices functions variables responsive design mobile first integration tests branches pull request issues labels callbacks closures esnext icons sass media queries apis fetch components jasmine browser console debugging refactoring modules objects describe workflow apps npm node.js html css javascript es6 react.js express.js mongodb mysql sql transact git github testing unit testing end-to-end e2e mocha chai.js jest linters best practices functions variables responsive design mobile first integration tests branches pull request issues labels callbacks closures esnext icons sass media queries apis fetch components jasmine browser console debugging refactoring modules objects describe workflow apps npm node.js html css javascript es6 react.js express.js mongodb mysql sql transact git github</span>
  </code>

  <%= image_tag("js.svg", :class => "js-img", :alt => "JS") %>

</section>
<section class='timeline'>
  <div>
    <time>2 weeks</time><br/>
    <span>Pre Work</span>
  </div>
  <div>
    <time>1 week</time><br/>
    <span>HTML CSS</span>
  </div>
  <div>
    <time>3 weeks</time><br/>
    <span>JavaScript</span>
  </div>
  <div>
    <time>2 weeks</time><br/>
    <span>APIs</span>
  </div>
  <div>
    <time>3 weeks</time><br/>
    <span>React.js</span>
  </div>
</section>
<section class='about'>
  <h2>We Are</h2>
  <p>MUKTEK llega a México con un nivel de calidad TOP. Además, el modelo de MUKTEK es 100% inclusivo. Becamos a gente que, a pesar de tener pocas oportunidades en la vida, ha logrado maximizar tu potencial. Dedicamos <sup>1</sup>/<sub>3</sub> parte de nuestros espacios en el aula para el apoyo social.
  <br/>Nuestras instalaciones están ubicadas dentro del ecosistema BAHÍA en Bahía Santa Bárbara 145, Colonia Verónica Anzures 11300 CDMX.</p>

  <%= image_tag("muktek.svg", :class => "muktek-img", :alt => "We are MUKTEK") %>

</section>
<section class='m'>
  <div>
    <blockquote class='quote quote--big quote--center'>
      Great mentors change lives.
    </blockquote>
  </div>
</section>
<section>
  <div class='clearfix'>
    <div class='teacher teacher--right'>
      <div class='grid'>
        <div class='teacher__more'>
          <p>Engineer</p>
          <p>Designer</p>
          <p>Teacher</p>
          <p>Developer</p>
        </div>
        <%= image_tag("yair.jpg", :class => "teacher__img", :alt => "Yair") %>

      </div>
      <div class='grid'>
        <p class='teacher__name'>Yair<br />Rodríguez<br />Ortega</p>
        <p class='teacher__bio'>Ingeniero en Arquitectura de Software. 3 años de Experiencia como Full Stack Web Developer. Se encuentra escribiendo su primer libro sobre ESNEXT y TDD en JavaScript.</p>
      </div>
    </div>
  </div>

  <div class='clearfix'>
    <div class='teacher'>
      <div class='grid'>
        <div class='teacher__more'>
          <p>Engineer</p>
          <p>Designer</p>
          <p>Teacher</p>
          <p>Developer</p>
        </div>
        <%= image_tag("travis.jpg", :class => "teacher__img", :alt => "Travis") %>
      </div>
      <div class='grid'>
        <p class='teacher__name'>Travis<br />Hubbard</p>
        <p class='teacher__bio'>Desarrollador Javascript Full stack y ex-Lead Instructor en The Iron Yard, Charleston, SC, USA. Especializado en integrar aplicaciones escritas utilizando las herramientas más modernas de Javascript en el front-end con .NET, Ruby on Rails, y Java Spring.</p>
      </div>
    </div>
  </div>
</section>
<section class='m'>
  <blockquote class='quote'>
    For most people on Earth, the digital revolution hasn’t event started yet. Within the next 10 years all that will change. Let’s get the whole world coding!
    <cite>Eric Schmidt, Chairman, Alphabet, Inc.</cite>
  </blockquote>
</section>
<!-- Form -->
<div class='subscription'>
  <h2>I want to get in!</h2>
  <%= form_for @pstudent, url: create_pstudent_js_path do |f| %>
       <div>
         <label>Name</label>
         <%= f.text_field :first_name %>
       </div>
       <div>
         <label>Email</label>
         <%= f.text_field :email %>
       </div>
       <div>
         <%= f.submit "Subscribe", class: "jslanding_submit"%>
       </div>
   <% end %>
</div>
<!-- Form -->
