
<!-- Site in construction code -->
<div class="construction">
      <div class="jumbotron">
        <div class="row">
          <div class="col-sm-1 col-sm-offset-10 logo1">
            <%= image_tag("MUKTEK_2.png")%>
          </div>
          <h1>¡Bienvenidos!</h1>
          <h2>Welcome! Bienvenus! Benvenuti! Willkommen! 안녕하세요!</h2>
        </div>
        <div class="row">
          <div class="col-sm-8 col-sm-offset-2">
            <p>Estamos muy contentos de haber lanzado nuestro
              primer curso de desarrollo de software. Esperamos que te sirva y
              puedes estar seguro(a) de que lo primero que tuvimos en mente al
              diseñar estos cursos fuiste <b>TÚ</b>.</br></br>

              Como verás, nos lanzamos al ruedo a pesar de que nuestra página está
              en construcción, pero puedes checar un poco más al respecto <b><a href="/pstudents/newhome">AQUÍ</a></b>.

            </p>
            <p>
              Sigue hacia <b>ABAJO</b> para conocer más o si estás listo(a) te puedes inscribir en el botón que sigue. </br></br>
              Para información más específica sobre nuestros cursos, contáctanos en <a href="mailto:info@muktek.com">info@muktek.com</a> o en Twitter <a href="https://twitter.com/fuerzamuktek">@fuerzamuktek.</a>
            </p>
            <p><a class="btn btn-warning btn-lg" href="/applications/new" role="button">Inscribirme Ahora</a></p>

          </div>
        </div>
              </div>
      <div class="row alert">
        <div class="col-sm-9 col-sm-offset-2">
          <% if notice %>
            <div class="alert alert-info alert-dismissible" role="alert">
              <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <p> <%= notice %>  </p>
            </div>
          <% end %>
        </div>
      </div>

    <div class="row MUKTEK_logo">
      <%= image_tag("MUKTEK_4.png")%>
    </div>
    <div class="row">
      <h1>Talento y tecnología. desde el origen.</h1>
    </div>
    <div class="row divider">

    </div>
    <div class="row cursos_title">
      <h1>NUESTROS CURSOS</h1>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <!-- <h1 class="invite">
          Si quieres lograr cosas inimaginables, síguenos en Facebook e inscríbete a nuestro newsletter aquí...
        </h1> -->
        <div class="banner">
          <a href="/applications/new">
          <%= image_tag("imagen para web.png")%>
          </a>
        </div>

      </div>
    </div>


   <div class="row">
     <div class="col-sm-6 fb_marketing">
       <div class="fblogo">
         <a href="http://www.facebook.com/fuerzamuktek">
         <%= image_tag("fb_logo_2.png")%>
         </a>
       </div>
       <div class="fb_page_address">
         <h3>
          <a href="http://www.facebook.com/fuerzamuktek">fuerzamuktek</a>
         </h3>
       </div>
     </div>
     <div class="col-sm-6 curso_marketing">
       <div class="clicklogo">
         <a href="/applications/new">
         <%= image_tag("icono_click.png")%>
         </a>
       </div>
       <div class="curso_address">
         <h3>
          <a href="/applications/new">¡Inscríbete ya!</a>
         </h3>
       </div>
     </div>
     <!-- <div class="fblogo">
       <a href="http://www.facebook.com/fuerzamuktek">
       <%= image_tag("fb_logo_2.png")%>
       </a>
     </div>
     <div class="fb_page_address">
       <h3>
        <a href="http://www.facebook.com/fuerzamuktek">fuerzamuktek</a>
       </h3>
     </div> -->
   </div>

   <div class="row">
     <div class="col-sm-12 equipodocente">
       <h1>CONÓCENOS</h1>
       <h2>Equipo Docente</h2>
    </div>
  </div>



   <div class="row team">
      <div class="col-sm-6 col-md-4">
        <div class="thumbnail member">
          <%= image_tag("EM_Aldo.jpg")%>
          <div class="caption">
            <!-- <h3>Aldo Fregoso</h3>
            <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p> -->
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-md-4">
        <div class="thumbnail member">
          <%= image_tag("EM_Arlene.jpg")%>
          <div class="caption">
            <!-- <h3>Thumbnail label</h3>
            <p>...</p>
            <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p> -->
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-md-4">
        <div class="thumbnail member">
          <%= image_tag("EM_Angelica.jpg")%>
          <div class="caption">
            <!-- <h3>Thumbnail label</h3>
            <p>...</p>
            <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p> -->
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-12 equipoadmin">
        <h2>Equipo Administrativo y Consejo</h2>
     </div>
   </div>

  <div class="row team">
    <div class="col-sm-6 col-md-4">
      <div class="thumbnail member">
        <%= image_tag("EM_Atenas.jpg")%>
        <div class="caption">
        </div>
      </div>
    </div>
     <div class="col-sm-6 col-md-4">
       <div class="thumbnail member">
         <%= image_tag("EM_Enrique.jpg")%>
         <div class="caption">
         </div>
       </div>
     </div>
     <div class="col-sm-6 col-md-4">
       <div class="thumbnail member">
         <%= image_tag("EM_Juan.jpg")%>
         <div class="caption">
           <!-- <h3>Thumbnail label</h3>
           <p>...</p>
           <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p> -->
         </div>
       </div>
     </div>
     <!-- <div class="col-sm-6 col-md-4">
       <div class="thumbnail member">
         <%= image_tag("EM_Enrique.jpg")%>
         <div class="caption">
         </div>
       </div>
     </div> -->
   </div>

   <div class="row newsletter_title">
     <div class="col-sm-12">
       <h1>NEWSLETTER</h1>
     </div>
   </div>

   <div class="row">
     <div class="col-sm-9 col-sm-offset-2 newsletter_invite">
       <h3>Para estar enterado(a) de lo último que sucede en MUKTEK y tener acceso a descuentos especiales, inscríbete a nuestro newsletter</h3>
       <h3></h3>
     </div>
   </div>

   <div class="row">
     <div class="newsletter_form">
       <div class="col-sm-7 col-sm-offset-3">
         <h3>Newsletter sign-up: </h3>
         <div class="sign_up_form form-group">
           <%= form_for @pstudent, url: create_pstudent_path do |f| %>
             <div class="formfield first_name">
               <%= f.text_field :first_name, class: 'form-control', placeholder: "Nombre"  %>
             </div>
             <div class="formfield last_name">
               <%= f.text_field :last_name, class: 'form-control', placeholder: "Apellido"  %>
             </div>
             <div class="formfield last_name">
               <%= f.text_field :email, class: 'form-control', placeholder: "email"  %>
             </div>
             <div class="submit_button">
               <%= f.submit "Inscribirme!", class: "btn btn-warning"%>
               <!-- or -->
               <!-- <%= link_to 'Cancel', :back %> -->
             </div>

           <% end %>
         </div>
       </div>
     </div>

   </div>

   <div class="row">
     <div class="col-sm-9 col-sm-offset-2">
       <!-- <h3 class="comingsoon">Más y mejor, muy pronto...</h3> -->
     </div>
   </div>
   <div class="row footer_home">
     <div class="row">
       <div class="col-sm-12 logo1">
         <%= image_tag("MUKTEK_2.png")%>
         <h4>Stay hungry. Stay foolish --Steve Jobs.</h4>
       </div>
     </div>

   </div>
</div>
