<section class="Hero Hero--small"></section><a href="/">
  <%= image_tag("muktek-logo.svg", :class => "Hero-logo", :alt => "Home logo") %>
  <!-- <img class="Hero-logo" src="/imgs/muktek-logo.svg" alt="Home logo"/> -->
</a>
<section class="BotMenu"><a href="/nosotros.html">
    <h2>NOSOTROS</h2></a><a href="/cursos.html">
    <h2>CURSOS</h2></a><a href="/inscripciones.html">
    <h2>INSCRIPCIONES</h2></a></section>
<section class="section--copy">
  <div class="copy">
    <h2 class="copy__title">Visión</h2>
    <p>Ser el más grande ecosistema para la enseñanza e innovación tecnológica en Latinoamérica.</p>
    <h2 class="copy__title">Misión</h2>
    <p>Empoderar a los mexicanos, sin importar su contexto social, para innovar en este mundo a través de la tecnología.</p>
  </div>
</section>
<section class="grid">
  <div class="col copy--is-active copy--purple">
    <div class="copy">
      <h3 class="copy__subtitle">¿QUIENES SOMOS?</h3>
      <p>Somos una academia de desarrollo de software, dirigida a todos aquellos interesados en aprender a programar desde cero.</p>
      <div class="copy__image" style="background-image:url(http://lamcdn.net/the-village.ru/post_image-image/BY7wDXSn9cL7GjdbX_RWHw-article.jpg);"></div>
    </div>
  </div>
  <div class="col copy--is-active copy--light-green">
    <div class="copy">
      <div class="copy__image copy__image--top" style="background-image:url(http://lamcdn.net/the-village.ru/post_image-image/BY7wDXSn9cL7GjdbX_RWHw-article.jpg);"></div>
      <h3 class="copy__subtitle">¿QUÉ HACEMOS?</h3>
      <p>Impartimos cursos intensivos en desarrollo de software en distintos niveles y modalidades. Nuestro enfoque es el desarrollo web en tecnologías como Javascript, HTML, CSS, y SQL.</p>
    </div>
  </div>
  <div class="col copy--is-active copy--blue">
    <div class="copy">
      <h3 class="copy__subtitle">¿POR QUÉ EXISTIMOS?</h3>
      <ul>
        <li>Creemos que la gente es más feliz cuando toma las riendas de su vida</li>
        <li>Creemos que hay mucho potencial humano dentro de la población mundial, que TIENE que ser empoderado por medio de la educación</li>
        <li>Creemos que la tecnología puede cambiar vidas</li>
      </ul>
      <div class="copy__image" style="background-image:url(http://lamcdn.net/the-village.ru/post_image-image/BY7wDXSn9cL7GjdbX_RWHw-article.jpg);"></div>
    </div>
  </div>
</section>
<section class="section--quote">
  <h2 class="quote">Nuestro Equipo</h2>
</section>
<section class="grid">
  <div class="col">
    <div class="thumbnail" style="background-image: url(<%= asset_path('enrique.jpg') %>);">
      <div class="thumbnail__copy">
        <h3 class="thumbnail__name">Enrique Carral Treviño</h3><em class="thumbnail__position">Founder and CEO</em>
        <p>Desarrolló negocios para Samsung desde Seúl, Corea del Sur. Ex-consultor de negocios en A.T. Kearney en Nueva York. Estudió Ingeniería en back-end en “The Iron Yard”, Houston, TX. Ingeniero Químico (Northwestern University) y MBA (London Business School).</p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="thumbnail" style="background-image: url(<%= asset_path('yair.jpg') %>);">
      <div class="thumbnail__copy">
        <h3 class="thumbnail__name">Yair Rodríguez Ortega</h3><em class="thumbnail__position">Rockstar Instructor</em>
        <p>Ingeniero en Arquitectura de Software. 3 años de Experiencia como Full Stack Web Developer. Se encuentra escribiendo su primer libro sobre ESNEXT y TDD en JavaScript.</p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="thumbnail" style="background-image: url(<%= asset_path('atenas.jpg') %>);">
      <div class="thumbnail__copy">
        <h3 class="thumbnail__name">Atenas Cruz Gama</h3><em class="thumbnail__position">Community Manager</em>
        <p>Licencia en Diseño de la Comunicación Gráfica. Fotógrafa independiente  desde hace más de 4 años. Actuó en diversas obras de teatro desde la infancia hasta terminar la universidad.</p>
      </div>
    </div>
  </div>
</section>
<section class="grid">
  <div class="col">
    <div class="thumbnail" style="background-image: url(<%= asset_path('arlene.jpg') %>);">
      <div class="thumbnail__copy">
        <h3 class="thumbnail__name">Arlene Pérez</h3><em class="thumbnail__position">Mentor</em>
        <p>Enseñó álgebra en Oyster-Adams Bilingual School (Washington D.C.) y KIPP Sol Academy (Los Angeles) durante 5 años. Fue líder de clubes de código y robótica. Obtuvo la beca F8 de Facebook para el Dev Bootcamp.</p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="thumbnail" style="background-image: url(<%= asset_path('angelica.jpg') %>);">
      <div class="thumbnail__copy">
        <h3 class="thumbnail__name">Angélica González</h3><em class="thumbnail__position">Mentor</em>
        <p>Lidereó un negocio en la industria textilera durante 5 años. Graduada de Dev Bootcamp, en Ingeniería Full Stack. Graduada de la Universidad de California, Berkeley.</p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="thumbnail" style="background-image: url(<%= asset_path('joel.jpg') %>);">
      <div class="thumbnail__copy">
        <h3 class="thumbnail__name">Joel Ponce</h3><em class="thumbnail__position">Mentor</em>
        <p>Graduado de Rithm School, en Ingeniería Full Stack. Estudió música en una pequeña Universidad en Walla Walla Washington. Ha trabajado con varias ONGs apoyando estudiantes de bajos recursos.</p>
      </div>
    </div>
  </div>
</section>
<section class="section--quote">
  <h2 class="quote">Consejo Asesor</h2>
</section>
<section class="grid">
  <div class="col">
    <div class="thumbnail" style="background-image: url(<%= asset_path('juan.jpg') %>);">
      <div class="thumbnail__copy">
        <h3 class="thumbnail__name">Juan Álvarez</h3><em class="thumbnail__position">Consejero</em>
        <p>Ex-fundador y CTO de Kiwi/Yabit. Ex-CTO de Boletia y Rails Dev en BrowserMedia, Maryland, EUA. Autodidacta en desarrollo de software desde hace 13 años. Licenciado en Administración de Empresas por la UNLA.</p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="thumbnail" style="background-image: url(<%= asset_path('barbara.jpg') %>);">
      <div class="thumbnail__copy">
        <h3 class="thumbnail__name">Bárbara Mair</h3><em class="thumbnail__position">Consejera</em>
        <p>Ex-Directora General Compaq/HP. Ex-Directora General de Aliat Universidades. Consejera de varias empresas y organizaciones con foco en TIC. Licenciada en Ciencias de la Computación (Dartmouth). Maestra en Tecnologías en la Educación (UBC).</p>
      </div>
    </div>
  </div>
</section>
