<!DOCTYPE html>
<html>
<head>
  <!--Code from Google to verify the domain muktek.com  -->
  <meta name="google-site-verification" content="f306wjC5cDbm515q_mrAuZlHPlvLMT1pK3zcy60xgv4" />

<!-- setting website tab title -->
  <title>MUKTEK</title>


  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>MUKTEK</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,700" rel="stylesheet">
  <link href="site.css" rel="stylesheet">

  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-97464411-1', 'auto');
    ga('send', 'pageview');

  </script>

</head>
<body>

  <section class="BotMenu"><a href="/nosotros.html">
      <h2>NOSOTROS</h2></a><a href="/cursos.html">
      <h2>CURSOS</h2></a><a href="/applications.html">
      <h2>INSCRIPCIONES</h2></a>
  </section>


<%= yield %>


<section class="Footer">
  <div class="Footer-logo">
    <!-- <a href="/"> -->
      <%= image_tag("muktek-logo.svg", :alt => "MUKTEK logo") %>
    <!-- </a> -->
    <!-- <img src="/imgs/muktek-logo.svg" alt="Muktek Logo"/> -->
    <div class="Footer-logo-slogan">
      <h3>Talento y tecnologia<br/> desde el origen</h3><a class="link" href="/newsletter.html">SUBSCRIBETE A NUESTRO NEWSLETTER</a>
    </div>
  </div>
  <div class="Footer-social"><a href="https://www.facebook.com/fuerzamuktek" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a><a href="https://twitter.com/fuerzamuktek" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a><a href="https://www.instagram.com/fuerzamuktek" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i></a><a href="https://www.youtube.com/channel/UCbcj9G6EaXtYLqTDpVee09Q" target="_blank"><i class="fa fa-youtube" aria-hidden="true"></i></a></div>
  <div class="Footer-info">
    <ul>
      <li><a href="/terms">TERMINOS Y CONDICIONES</a></li>
      <li><a href="/privacy">AVISO DE PRIVACIDAD</a></li>
    </ul>
  </div>
</section>


<script src="https://use.fontawesome.com/8442e6330f.js"></script>


</body>
</html>
